<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Jika file/folder tidak ada, redirect ke index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [QSA,L]
</IfModule>
